$mainColor: #22232c;
$textColor: #ffffff;
$mainFont: Roboto;

$seconaryColor: rgba(255, 255, 255, 0.05);
$secondaryColorLight: rgba(0, 0, 0, 0.5);
$secondaryColorDark: rgba(12, 12, 12, 0.8);

$gridCols: 5;
$gridRows: 5;
$gridSize: 12.5vh;
$gridGap: 2px;
$containerSize: calc(#{$gridRows} * #{$gridSize + 0.22vh} + #{$gridRows} * #{$gridGap});

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.MuiMenuItem-root > div > p {
  padding: 0 !important;
}

.MuiMenu-paper {
  background-color: transparent !important;
}

.MuiMenu-list {
  min-width: 200px;
  background-color: rgba(34, 35, 51, 0.90) !important;
  color: $textColor;
  padding: 4px;
  // border-color: rgba(255, 255, 255, 0.2);
  // border-style: inset;
  // border-width: 1px;
  font-size: 16px !important;
}

.MuiMenuItem-gutters {
  padding: 4px 16px !important;
  font-size: 16px !important;
}

.tooltip-description {
  padding-top: 5px;
}

.tooltip-markdown > p {
  margin: 0;
}

button:active {
  // transform: translateY(3px);
  // filter: brightness(0.5);
}

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 999;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4.5vh;
  
  background: rgba(1, 1, 1, 0.5);
}

.inventory-control {
  display: flex;
  background: rgba(34, 35, 51, 0.80);
  padding: 1rem;
  z-index: 1;

  .inventory-control-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
  }

  .inventory-control-input {
    transition: 200ms;
    width: 14vh;

    padding: 15px 0px;
    margin: 0;

    // border-radius: 2.5%;
    font-family: $mainFont;
    font-size: 1.6vh;
    text-align: center;
    outline: none;
    border: none;
    color: rgba(220, 220, 220, 1);
    background-color: #444555;
    &:hover {
      filter: brightness(0.85);
    }
    &:focus-within {
      // background-color: $secondaryColorDark;
      filter: brightness(0.85);
    }
  }

  .inventory-control-button {
    color: rgba(220, 220, 220, 1);
    background-color: #444555;
    transition: 200ms;
    padding: 15px 0px;
    // border-radius: 2.5%;

    width: 100%;
    border: none;

    font-size: 1.4vh;
    text-transform: uppercase;
    font-family: $mainFont;
    font-weight: 500;
    &:hover {
      // background-color: $secondaryColorDark;
      filter: brightness(0.85);
    }
    &:active {
      filter: brightness(0.5);
    }
  }
}

.useful-controls-dialog {
  font-size: 18px;
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons-wrapper {
  position: absolute !important;
  top: 25%;
  height: 50%;
  left: 41%;
  width: 18%;
}

.buttons-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.useful-controls-button {
  transition: 200ms !important;
  border-radius: 10% !important;
  width: 4vh;
  aspect-ratio: 1/1;
  background: rgba(34, 35, 51, 0.80) !important;
  &:hover {
    background-color: #444555 !important;
  }
  &:active {
    filter: brightness(0.5);
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window

.MuiDialog-paper	 {
  background-color: transparent !important;
}

.MuiDialogContent-root {
  background: rgba(34, 35, 51, 0.80);
  color: rgba(220, 220, 220, 1);
}

.MuiDialogTitle-root {
  background: rgba(34, 35, 51, 0.80);
  color: rgba(220, 220, 220, 1);
}

.MuiDialogActions-root {
  background: rgba(34, 35, 51, 0.80);
  color: rgba(220, 220, 220, 1);
}

// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($gridGap * 2);

  padding: 2.1vh;
  background: rgba(34, 35, 51, 0.80);

}

.inventory-grid-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    font-size: 2vh;
    font-weight: bold;
  }
}

.inventory-grid-container {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
}

.inventory-grid-container::-webkit-scrollbar {
  display: block;
  width: 0.5vh;
}

.inventory-grid-container::-webkit-scrollbar-track {
  background: #1114199f;
}

.inventory-grid-container::-webkit-scrollbar-thumb {
  background-color: #ffffff25;
}

// inventory slots
.inventory-slot {
  background-color: $seconaryColor;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 7vh;
  color: $textColor;

  box-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0.04), inset 0px 0px 6px rgba(255, 255, 255, 0.03);
}

.inventory-slot-label-box {
  color: $textColor;
  width: 80%;
  margin: 3% 4%;
}

.inventory-slot-label-text {
  // text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 1.25vh;
  font-family: $mainFont;
}

.inventory-slot-number {
  color: black;
  font-weight: 300;
  font-family: $mainFont;
	font-size: 7vh;
  line-height: 7vh;
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  p {
    font-size: 12px;
  }
}

.item-slot-header-wrapper {
  position: absolute;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;

	opacity: 0.15;

  display:flex;
  align-items: center;
  justify-content: center;

	pointer-events: none;
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  // justify-content: space-between !important;
}

.item-slot-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 3% 4%;
  color: rgba(222, 222, 222, 1);
  p {
    font-size: 1.12vh;
  }
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2% 1%; 
  background-color: #1114199f;
  p {
    color: #95ef77;
    font-size: 1.25vh;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

// slot tooltip
.MuiDivider-root {
  margin-top: 0.3vh !important;
  margin-bottom: 0.5vh !important;
}

.MuiTooltip-tooltip {
  background-color: rgba(34, 35, 51, 0.95) !important;
  padding: 1vh !important;
  min-width: 200px !important;
  color: $textColor !important;
  font-family: $mainFont !important;
  border-radius: 0px !important;

  border-width: 0px !important;
  // border-color: rgba(0, 0, 0, 0.2) !important;
  // border-style: inset !important;
  // border-width: 1px !important;
}

.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  span {
    font-size: 23px;
    // text-transform: capitalize;
    font-weight: bold;
  }
  p {
    font-size: 15px;
    font-weight: 400;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 3px;
  }
  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

// hotbar
.hotbar-container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  position: absolute;
  bottom: 2vh;
}

.hotbar-container {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center; 

  padding: 1.3vh;
  background: rgba(34, 35, 51, 0.80);
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
}

.hotbar-slot-header-wrapper {
  position: absolute;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;

	opacity: 0.15;

  display:flex;
  align-items: center;
  justify-content: center;

	pointer-events: none;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  // text-transform: capitalize;
  font-family: $mainFont;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 3% 4%;
  p {
    font-size: 1.25vh;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
  background-color: rgba(34, 35, 51, 0.80);
  box-shadow: none;
  
  .inventory-slot-label-box {
    width: 100%;
    text-align: center;
    margin: 3% 0%;
  }

  .inventory-slot-label-text {
    font-weight: 300;
    font-size: 1.25vh;
    font-family: $mainFont;
  }
}

.durability-bar {
  background: #1114199f;
  height: 3px;
  overflow: hidden;
}

.weight-bar {
  background: #1114199f;
  // border: 1px inset rgba(0, 0, 0, 0.1);
  height: 0.5vh;
  margin-top: 0.5vh;
  border-radius: 5%;
  overflow: hidden;
}
